<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <head>
        <%- include('./partials/header.ejs') %>
    </head>
    <main>
        <div style="display: table-cell; vertical-align: middle">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">ChangeLog</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody id="infor" value=<%=`${owner}/${repo}`%>>
                <% for (let i = data.length - 1; i >= 0; i--) { %>
                    <tr id=<%= data.length - i %> value=<%= data[i].tag%> onclick=showCompareCommits(<%= data.length - i %>)>
                        <th scope="row"><%= data.length - i %></th>
                        <td><a href=<%= data[i].url %>><%= data[i].name %></a></td>
                        <td id="changelog"><%- data[i].changelog %></td>
                        <td><%= data[i].date %></td>
                    </tr>
                <% } %>
            </tbody>
          </table>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
<script src="js/crawlreleases.js"></script>
</html>